<p><%= @ordered_item.description %></p>
<img src="<%= @ordered_item.file %>"></img>
<p>Price: &#8377;<%= @ordered_item.price_per_item %></p>
</p>Quantity bought: <%= @ordered_item.quantity %></p>
<p>Total price: &#8377;<%= @ordered_item.total_price %></p>
<p>Seller Name: <%= @ordered_item.seller_name %></p>
<p> Return or replace within <%= @ordered_item.return_or_replacement_applicable_days %> days from the from the date of delivery</p>